body {
  margin: 0;
  font-family: 'Lexend Deca', sans-serif;
 
}


/* Layout home page desktop header*/
.wrapper {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
    height: auto;
 
}


.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  margin-left: 60px;
  width: 100%;
}


nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
}

nav li  {
  margin-left: 20px;
  font-family: Space Mono;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
  color: #939CAA;
}

.site-nav {
  display: flex;
  align-items: center;
}

.getSctootin-button {
  width: 180px;
  height: 53px;
  background: #FCB72B;
  border: none;
  color: #FFFFFF;
  font-family: Space Mono;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
  margin-right: 60px;

}

/* Layout home page desktop top section*/

.top-section-home {
  width: 100%;
  height: auto;
}
