body {
  margin: 0;
  font-family: 'Lexend Deca', sans-serif;
  overflow-x: hidden;
  
 
}


/* Layout home page desktop header*/
.wrapper {
  margin: 0 auto;
  max-width: 100%;
  width: 1440px;
    height: auto;
 
}


.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  margin-left: 65px;
  width: 100%;
  
}


nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
}

nav li  {
  margin-left: 20px;
  font-family: Space Mono;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
  color: #939CAA;
}

.site-nav {
  display: flex;
  align-items: center;
}

.getSctootin-button  {
  width: 180px;
  height: 53px;
  background: #FCB72B;
  border: none;
  color: #FFFFFF;
  font-family: Space Mono;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
  margin-right: 150px;

}

/* Layout home page desktop top section*/

.top-section-home {
  width: 100%;
  height: auto;
}



.scooter-sharing-heading {
  position: absolute;
  left: 165px;
  top: 210px;
 
}


.sharing-p {
  position: absolute;
  left: 260px;
  top: 380px;
}

.scooter-sharing-button {
  width: 180px;
  height: 53px;
  background: #FCB72B;
  border: none;
  color: #FFFFFF;
  font-family: Space Mono;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
  position: absolute;
  left: 260px;
  top: 541px;

}

.line {
  position: absolute;
  left: 0.5px;
  top: 450.5px;
}

.right-arrow {
  position: absolute;
  left: 705px;
  top: 451px;
}

.whiteCircles {
  position: absolute;
  left: 1254px;
  top: 519px;
}


/* Layout home page desktop mid body home*/


.mid-body-home-container-one {
  display: flex;
  margin-top: 100px;
}

.locate-app, .mid-body-two {
  margin-right: 50px;
}

.locate-app {
  margin-left: 100px;
}

.greyline {
  position: absolute;
  width: 973px;
  left: 0.5px;
  top: 900.5px;
  z-index:-1;
}

.learn-more-button {
  height: 53px;
  width: 180px;
  background: #FCB72B;
  border: none;
  font-family: Space Mono;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  color: #FFFFFF;
}

.mid-body-home-container-two {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
}

.mid-body-home-container-three {
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 100px;
}

.mid-body-home-container-four{
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  margin-left: 100px;
}

.girlphone {
  position: absolute;
  left: 830px;
  top: 1297px;
}

.rightarrow {
  position: absolute;
  left: 705px;
  top: 1604px;
}

.mid-body-home-container-two {
  margin-top: 180px;
}



.easy-p {
  margin-bottom: 40px;
}

.circleone {
  position: absolute;
  left: 1339px;
  top: 1297px;
}

.citycircle {
  position: absolute;
  left: 165px;
  top: 1900px;
  }

  .leftarrow {
    position: absolute;
    left: 0px;
    top: 1900px;
  }

  .circletwo {
    position: absolute;
    left: -344px;
    top: 1900px;
  }

  .cashpic {
    position: absolute;
    width: 445px;
    height: 445px;
    left: 830px;
    top: 2470px;
    margin: 0 auto;

  }

  .circlethree {
    position: absolute;
    left: 1339px;
  }


.rightarrowbottom {
  position: absolute;
  left: 705px;
  top: 2700px;
}




/*typography top section top home*/


.scooter-sharing-heading {
  font-family: Space Mono;
  font-size: 56px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #FFFFFF;

}


.sharing-p {
  font-family: Lexend Deca;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  color: #FFFFFF;
}

.easy-p, .about-p {
  font-family: Lexend Deca;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  color: #939CAA;
}


.easy-h2, .about-h2 {
  font-family: Space Mono;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2.142857074737549px;
  color: #495567;
}

/*layout footer section */

.footer-container {
  margin-top: 200px;
}

.sign-up-footer {
  width: 1440px;
  height: 300px;
  background-color: #495567;
}

.bottom-footer {
  width: 1440px;
  height: 96px;
  background-color: #333A44;
}

.sign-up-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 100%;
  
}

.bottom-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 100%;
}

.sign-up {
  margin-left: 100px;
}

.incons-google-app {
  margin-right: 100px;
}

.appstore {
  margin-right: 18px;
}

.site-nav-bottom {
  display: flex;
  align-items: center;
  
}

.logo-bottom {
  color: #FFFFFF;
  margin-left: 100px;
}

.socail-icons {
  margin-right: 100px;
}

.facebook, .twitter {
  margin-right: 24px;
}

/*contact us page*/
.form-section-contactus {
  display: flex;
  flex-direction: column;
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
}

.centered-form {
  margin: 0 auto;
  margin-top: 100px;
  
}

.form-contact {
  display: flex;
  flex-direction: column;
 

}

.form-contact {
  align-items: center;
  
}

label {
  color: #FFFFFF;
  margin-right: 430px;
}

.input-contact {
  border: solid 1px;
  border-color: #495567;
  height: 30px;
  width: 500px;
  border-radius: 5px;
  margin-bottom: 20px;
  
}

.input-button {
  width: 152px;
  height: 48px;
  border-radius: 30px;
  border: solid 1px;
  color: #6C8294;
  margin-right: 300px;
}

.form-section-contactus {
  overflow-y: hidden;
  overflow-x: hidden;
 
}




/*typography top mid body*/

.contact-us-header {
  color: #FFFFFF;

}

.result-msg {
  color: #FCB72B;
}

.contact-us-header {
  text-align: center;
}

.mid-body-h2, .values-h2 {
  font-family: Space Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -1.0714285373687744px;
  color:#495567;
}

.mid-body-p, .values-p, .location-p {
  font-family: Lexend Deca;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  color: #939CAA;
}

.sign-up {
  font-family: Space Mono;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2.142857074737549px;
  color: #FFFFFF;
}


/*About section layout*/

.about-header-style {
  width: 1440px;
  height: 200px;
}

.about-h1 {
  top: 120px;
  left: 55px; 
}

.about-container-one {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  margin-top: 120px;
}


.topgraphic {
  position: absolute;
  left: 830px;
  top: 400px;
}

.rightarrow-two {
  position: absolute;
  left: 705px;
  top: 600px;
}

.about-circle-one {
  position: absolute;
  width: 445px;
  height: 445px;
  left: 165px;
  top: 981px;

}

.circle-two-about {
  position: absolute;
  width: 445px;
  height: 445px;
  left: -344px;
  top: 981px;
}

.about-container-two {
  margin-top: 300px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 100px;
}

.left-arrow-about {
  position: absolute;
  left: -100px;
  top: 989px;
}

.values-container {
  display: flex;
  justify-content: center;
  text-align: center;
  justify-content: space-evenly;
}

.values-header {
  margin-top: 300px;
}



/*About section typography*/

.about-h1 {
  font-family: Space Mono;
  font-size: 46px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #FFFFFF;
  position: absolute;
  
}

.values-header  {
  font-family: Space Mono;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2.142857074737549px;
  text-align: center;
  color: #495567;


}

/*About section apply boxes layout*/


.career-box {
  width: 1110px;
  height: 128px;
  background: #F2F5F9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding-left: 100px;
  margin-bottom: 20px;
}

.CareersApply-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  
}

/*.box-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
}*/

/*About section apply boxes typography*/


.box-h2 {
  font-family: Space Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -1.0714285373687744px;
  color: #495567;
}

.box-p {
  font-family: Lexend Deca;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  color: #495567;
}


/*location section*/

.worldmap {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 100px;
 
}

.city-not-listed {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 100px;
}

.location-h2 {
  font-family: Space Mono;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2.142857074737549px;
  color: #495567;

}







